* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url("picture/headerimg.jpg");
    justify-content: space-between;
    width:1920px;
}

.hp {
    background-color: #F8F200;
}