* {
    margin: 0;
    padding: 0;
    color: #6da81f;
}

.navproduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6da81f;

}

.production {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.navfooter {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 320px) {
    .navproduction {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 140px;
    }

    .production {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navfooter{
        max-width: 100%;
        display: inline-block;
        justify-content: space-between;
    }

    img {
        width: 100%;
        height: auto;
    }
}